@{
    ViewData[index: "Title"] = "Delete";
}

@model SampleMVCApp.Models.Entities.Student

<h3>Are you sure you want to delete @Model.Name?</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>